body {
    font-family: "Sono", sans-serif;
  }

  .pricing-container {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }


    .pricing-plan {
      background-color: #f2f2f2;
      text-align: center;
      padding: 10px;
      flex: 1;
      max-width: 27vh;
      min-width: 27vh;
      border-radius: 35px;
      height: 35vh;
      overflow: hidden;
    }

    .plan-title {
      font-weight: 900;
      font-size: 2.5rem;
      margin: -1em -1em 0.5em -1em;
      padding: 1em 0 0.3em 0;
      color: white;
    }

    #basic .plan-title {
      background-color: #fdbd89;
    }

    #standard .plan-title {
      background-color: #ff99c2;
    }

    #premium .plan-title {
      background-color: #da96fe;
    }

    .plan-price {
      font-size: 1.4rem;
      font-weight: 600;
      color: rgb(131, 138, 136);
      margin-bottom: 0.5em;

    }

    .plan-features{
      list-style: none;
      padding: 0;
      margin: 0 0 3em 0;
    }

    .plan-features li {
      margin-bottom: 0.6em;
    }
    
    .plan-button {
      padding: 10px 25px 10px 26px;
      color: #fff;
      border-radius: 25px;
      border: none;
      font-size: 1.2em;
      font-weight: 600;
      transition: transform 0.4s;
    }

    .plan-button:hover {
      transform: scale(1.1);
    }

    #basic .plan-button {
      background: linear-gradient(to right, 
          #ffd5b3,  
          #fdbd89, 
          #f59b50  
        );
    }
    
    #standard .plan-button {
      background: linear-gradient(to right, 
          #ffb3d1,  
          #ff99c2, 
          #ff80b3  
        );
    }
    
    #premium .plan-button {
      background: linear-gradient(to right, 
          #e4b3ff,  
          #da96fe, 
          #d27fff  
        );
    }
      
  @media (max-width: 1250px) {
      .pricing-container {
        flex-direction: column;
        margin: 6em 0 6em 0;
        height: auto;
      }

      .pricing-plan {
        height: 50vh;
        padding: 20px 20px 35px 20px;
      }

      .plan-features {
        margin: 0 0 2em 0;
      }
  }